@import "partials/reset";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,500);
@-ms-viewport{
  width: device-width;
};

@import "modules/main";
@import "modules/logins";

body {
  font-family: 'Roboto';
  font-weight: 100;
  background-color: RGBA(43, 49, 52, 1.00);
}

#pageHead{
  background-color: rgba(255,255,255, 0.99);
  color: RGBA(241, 118, 58, 1.00);
  padding: 1%;
  width: 98%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: solid 1px RGBA(241, 118, 58, 1.00);

  #mainTitle{
    font-size: 2vw;
  }

  #addButton {
    background:none;
    border:none;
    outline: none;
    margin-right:5%;
    padding:0;
    padding-top: 3px;

  }
}

a {
  color: RGBA(241, 118, 58, 1.00);
  text-decoration:  none;
}

#navContainer{
  display: flex;
  flex-flow: row nowrap;
  width: 20%;
  p{
    padding-right: 5%;
    font-size: 1.25vw;
  }
  a {
    padding-right: 2%;
    font-size: 1.25vw;
  }
    margin-right: -1%;
}


#loginPage {
  background-color: white;
  #loginForm {
  display: flex;
  background-color: blue;
  form {
    background-color: red;
    flex: 0 0 auto;
  }

  }
}