
@import "partials/reset";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,500);
@-ms-viewport{
  width: device-width;
};

@import "modules/main";
@import "modules/logins";
@import "modules/screens";

body {
  font-family: 'Roboto';
  font-weight: 100;
  background-color: RGBA(43, 49, 52, 1.00);
}

#pageHead{
  background-color: rgba(255,255,255, 0.99);
  color: RGBA(241, 118, 58, 1.00);
  padding: 1%;
  width: 98%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: solid 1px RGBA(241, 118, 58, 1.00);

  #mainTitle{
    font-size: 24px;
  }

  #addButton {
    background:none;
    border:none;
    outline: none;
    margin-right:5%;
    padding:0;
    min-width: 50px;
  }
  #login {
    min-width: 50px;
  }
  #signup {
    min-width: 50px;

  }
}

a {
  color: RGBA(241, 118, 58, 1.00);
  text-decoration:  none;
}

#navContainer{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 250px;
  p{
    padding-right: 5%;
    font-size: 16px;
  }
  a {
    padding-right: 2%;
    font-size: 16px;
  }
    margin-right: -1%;
}