 <div id='allPage' class='newTask-Up'>
 <div id="addTaskForm">
  <h2>Add New Task</h2>
  <form action="/" method="POST">

    <label for="Title">Title: </label>
    <input type="text" id="Title" ng-model="newTask.title">


    <label for="Author">Author: </label>
    <input type="text" id="Author" ng-model="newTask.author">


    <label for="Due">Due: </label>
    <input type="date" value="2016-05-28" id="Due"  ng-model="newTask.dueDate">

    <label for="status">Status: </label>
    <input type="text" id="status" ng-model="newTask.status">

    <button type="button" id="newTaskBtn" ng-click="addTask(newTask)" onclick="classChange()">Add Task</button>
  </form>
</div>

<div id="massContainer">

  <div class='todoTaskColumn' id='todo' dragula='"first-bag"' >
   <div class='groupTitle'>
     <h2>Waiting</h2>
   </div>
    <div ng-repeat="task in tasks | filter: {status: 'todo'}"  >
        <div class='task'>
            <div ng-hide='true'>
              @{{task.id}}@
            </div>
            <span ng-hide="editing" ng-click="editing = true" class='titleSpan'>
              <div class='taskName'>
              {{ task.title }}
              </div>
            </span>
            <input ng-show="editing" ng-submit="editing = false" ng-model="task.title" placeholder="{{ task.title }}" maxlength="20">
              <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'title', task.title); editing = false">Save</button>
              <br>
            <span ng-hide="editing" ng-click="editing = true">
              Author: {{ task.author }}
            </span>
            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.author" placeholder="{{ task.author }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'author', task.author); editing = false">Save</button>
            <br>
            <span ng-hide="editing" ng-click="editing = true">
             Due Date: {{ task.dueDate }}
            </span>

            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.dueDate" placeholder="{{ task.dueDate }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editing = false; editTask(task.id, 'dueDate', task.dueDate)">Save</button>
              <br>
            <span ng-hide="true">
             status: {{ task.status }}
            </span>
        </div>
    </div>
</div>

  <div class='doingTaskColumn' id='doing' dragula='"first-bag"'>
  <div class='groupTitle'>
    <h2>In Progress</h2>
  </div>
    <div ng-repeat="task in tasks | filter: {status: 'doing'}" >
      <div  class='task'>
        <div ng-hide='true'>
           @{{task.id}}@
        </div>
          <span ng-hide="editing" ng-click="editing = true" class='titleSpan'>
            <div class='taskName'>
            {{ task.title }}
            </div>
          </span>
          <input ng-show="editing" ng-submit="editing = false" ng-model="task.title" placeholder="{{ task.title }}" maxlength="20">
            <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'title', task.title); editing = false">Save</button>
            <br>
          <span ng-hide="editing" ng-click="editing = true">
            Author: {{ task.author }}
          </span>
          <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.author" placeholder="{{ task.author }}">
          <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'author', task.author); editing = false">Save</button>
          <br>
          <span ng-hide="editing" ng-click="editing = true">
           Due Date: {{ task.dueDate }}
          </span>

          <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.dueDate" placeholder="{{ task.dueDate }}">
          <button class="btn" ng-show="editing" type="submit" ng-click="editing = false; editTask(task.id, 'dueDate', task.dueDate)">Save</button>
            <br>
          <span ng-hide="true">
           status: {{ task.status }}
          </span>
        </div>
    </div>
  </div>

  <div class='doneTaskColumn' id='done' dragula='"first-bag"'>
    <div class='groupTitle'>
      <h2>Completed</h2>
    </div>
      <div ng-repeat="task in tasks | filter: {status: 'done'}">
        <div class='task'>
          <div ng-hide='true'>
             @{{task.id}}@
          </div>
            <span ng-hide="editing" ng-click="editing = true" class='titleSpan'>
              <div class='taskName'>
              {{ task.title }}
              </div>
            </span>
            <input ng-show="editing" ng-submit="editing = false" ng-model="task.title" placeholder="{{ task.title }}" maxlength="20">
              <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'title', task.title); editing = false">Save</button>
              <br>
            <span ng-hide="editing" ng-click="editing = true">
              Author: {{ task.author }}
            </span>
            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.author" placeholder="{{ task.author }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'author', task.author); editing = false">Save</button>
            <br>
            <span ng-hide="editing" ng-click="editing = true">
             Due Date: {{ task.dueDate }}
            </span>

            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.dueDate" placeholder="{{ task.dueDate }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editing = false; editTask(task.id, 'dueDate', task.dueDate)">Save</button>
              <br>
            <span ng-hide="true">
             status: {{ task.status }}
            </span>
        </div>
    </div>
    </div>
</div>
</div>