 <div id='allPage' ng-class="{'newTask-Down' : IndexService.formIsActive, 'newTask-Up': !IndexService.formIsActive}">
 <div id="addTaskForm">

  <form action="/" method="POST" id='addFormMain'>

    <label for="Title">Title: </label>
    <input type="text" id="Title" ng-model="newTask.title">

    <label for="Description">Description: </label>
    <input type="text" id="description" ng-model="newTask.description">

    <label for="Author">Completing: </label>
    <input type="text" id="Author" ng-model="newTask.author">

    <p>Due: </p>
    <div class='inputJoin' onblur="joinMDY()">
      <input placeholder='mm' id="mm" ng-keyup="moveOnMax(this ,document.getElementById('dd'))" size="2" maxlength="2"></input>
      <p class='slash'>/<p>
      <input placeholder='dd' name='dd' id = 'dd' ng-keyup="moveOnMax(this,document.getElementById('yy'))" size="2" maxlength="2"></input>
      <p class='slash'>/<p>
     <input placeholder='yy' name='year' maxlength='4' id="yy"></input>
      <input type="hidden" id="joint" >
    </div>

    <input type="text" id="status" ng-hide='true' ng-model="newTask.status" value='todo'>

    <button type="button" id="newTaskBtn" ng-click="addTask(newTask)">Add Task</button>
  </form>
</div>

<div id="massContainer">

  <div class='todoTaskColumn' id='todo' dragula='"first-bag"' >
   <div class='groupTitle'>
     <h2>Waiting</h2>
   </div>
    <div ng-repeat="task in tasks | filter: {status: 'todo'}"  >
        <div class='task'>
            <div ng-hide='true'>
              @{{task.id}}@
            </div>
            <span ng-hide="editing" ng-click="editing = true" class='titleSpan'>
              <div class='taskName'>
              {{ task.title }}
              </div>
            </span>
            <input ng-show="editing" ng-submit="editing = false" ng-model="task.title" placeholder="{{ task.title }}" maxlength="20">
              <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'title', task.title); editing = false">Save</button>
              <br>
              <div class='description'>
              {{task.description}}
              </div>
            <div class='completingAndDue'>
            <span ng-hide="editing" ng-click="editing = true" class='completingSpan'>
              Completing: {{ task.author }}
            </span>
            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.author" placeholder="{{ task.author }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'author', task.author); editing = false">Save</button>
            <br>
            <span ng-hide="editing" ng-click="editing = true" class='dueSpan'>
             Due: {{ task.dueDate }}
            </span>
            </div>
            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.dueDate" placeholder="{{ task.dueDate }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editing = false; editTask(task.id, 'dueDate', task.dueDate)">Save</button>
              <br>
            <span ng-hide="true">
             status: {{ task.status }}
            </span>
        </div>
    </div>
</div>

  <div class='doingTaskColumn' id='doing' dragula='"first-bag"'>
  <div class='groupTitle'>
    <h2>In Progress</h2>
  </div>
    <div ng-repeat="task in tasks | filter: {status: 'doing'}" >
      <div  class='task'>
        <div ng-hide='true'>
           @{{task.id}}@
        </div>
          <span ng-hide="editing" ng-click="editing = true" class='titleSpan'>
            <div class='taskName'>
            {{ task.title }}
            </div>
          </span>
          <input ng-show="editing" ng-submit="editing = false" ng-model="task.title" placeholder="{{ task.title }}" maxlength="20">
            <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'title', task.title); editing = false">Save</button>
            <br>
            <div class='description'>
            {{task.description}}
            </div>
          <div class='completingAndDue'>
          <span ng-hide="editing" ng-click="editing = true" class='completingSpan'>
            Completing: {{ task.author }}
          </span>
          <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.author" placeholder="{{ task.author }}">
          <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'author', task.author); editing = false">Save</button>
          <br>
          <span ng-hide="editing" ng-click="editing = true" class='dueSpan'>
           Due: {{ task.dueDate }}
          </span>
          </div>
          <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.dueDate" placeholder="{{ task.dueDate }}">
          <button class="btn" ng-show="editing" type="submit" ng-click="editing = false; editTask(task.id, 'dueDate', task.dueDate)">Save</button>
            <br>
          <span ng-hide="true">
           status: {{ task.status }}
          </span>
        </div>
    </div>
  </div>

  <div class='doneTaskColumn' id='done' dragula='"first-bag"'>
    <div class='groupTitle'>
      <h2>Completed</h2>
    </div>
      <div ng-repeat="task in tasks | filter: {status: 'done'}">
        <div class='task'>
          <div ng-hide='true'>
             @{{task.id}}@
          </div>
            <span ng-hide="editing" ng-click="editing = true" class='titleSpan'>
              <div class='taskName'>
              {{ task.title }}
              </div>
            </span>
            <input ng-show="editing" ng-submit="editing = false" ng-model="task.title" placeholder="{{ task.title }}" maxlength="20">
              <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'title', task.title); editing = false">Save</button>
              <br>
              <div class='description'>
              {{task.description}}
              </div>
              <div class='completingAndDue'>
            <span ng-hide="editing" ng-click="editing = true" class='completingSpan'>
              Completing: {{ task.author }}
            </span>
            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.author" placeholder="{{ task.author }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editTask(task.id, 'author', task.author); editing = false">Save</button>
            <br>
            <span ng-hide="editing" ng-click="editing = true" class='dueSpan'>
             Due: {{ task.dueDate }}
            </span>
            </div>
            <input maxlength="20" ng-show="editing" ng-submit="editing = false" ng-model="task.dueDate" placeholder="{{ task.dueDate }}">
            <button class="btn" ng-show="editing" type="submit" ng-click="editing = false; editTask(task.id, 'dueDate', task.dueDate)">Save</button>
              <br>
            <span ng-hide="true">
             status: {{ task.status }}
            </span>
        </div>
    </div>
    </div>
</div>
</div>